# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
